.top-nav{
  height: 75px;
  width: 100%;
  background-color: rgb(189,142,194);
}

.example-spacer {
  flex: 1;
}
.example-icon{
  margin-left: 10px;
  margin-right: 10px;
}

mat-toolbar{
  height: 60px;
  color: white;
background-color: #A271A2;
}
